In [2]:
import pandas as pd
from sklearn.model_selection import train_test_split
from pycaret.classification import *

# Model with data leaking

In [118]:
df1 = pd.read_csv('0.100maps.csv')
df2 = pd.read_csv('100.300maps.csv')
df3 = pd.read_csv('300.600maps.csv')
df4 = pd.read_csv('300.600maps.csv')
df5 = pd.read_csv('600.900maps.csv')

dfs = [df1,df2,df3,df4,df5]

df = pd.concat(dfs)
df_e = pd.read_csv('economy_df.csv')

In [119]:
df.drop_duplicates(inplace=True)

In [120]:
df['winner'] = df.apply(lambda x :1 if x['score_t1']>x['score_t2'] else 2, axis=1)

In [115]:
df['match_id']

0      2358331
1      2358332
2      2358329
9      2358330
10     2358327
        ...
509    2346061
510    2346060
511    2346059
512    2346056
513    2346055
Name: match_id, Length: 1743, dtype: int64

In [110]:
df_e

,Unnamed: 0,match_id,map_1,map_2,map_3,eco_t1,eco_t2,semi_eco_t1,semi_eco_t2,semi_buy_t1,semi_buy_t2,full_buy_t1,full_buy_t2
0,0,2358332,Dust2,Inferno,Mirage,2,1,3,3,4,2,18,21
1,1,2358332,Mirage,Dust2,no_map,1,2,3,1,1,2,22,22
2,2,2358332,Inferno,Ancient,Mirage,1,1,3,1,2,4,21,21
3,3,2358332,Inferno,Ancient,no_map,2,0,1,1,4,3,17,20
4,4,2358332,Mirage,Inferno,Overpass,3,2,0,3,5,4,20,19
...,...,...,...,...,...,...,...,...,...,...,...,...,...
295,295,2358332,Dust2,Inferno,no_map,3,4,1,2,1,2,19,16
296,296,2358332,Vertigo,Dust2,no_map,1,2,1,3,2,7,23,15
297,297,2358332,Dust2,Mirage,no_map,1,2,3,0,1,2,18,19
298,298,2358332,Nuke,Inferno,Mirage,3,2,0,2,3,3,22,21
299,299,2358332,Nuke,Mirage,no_map,2,1,1,0,4,2,17,21

In [77]:
maps_to_num = dict(zip(df['map'].unique(), range(len(df['map'].unique()))))

df['map'] = df['map'].apply(lambda x : maps_to_num[f'{x}'] if x in maps_to_num else '')

In [121]:
df

,Unnamed: 0,date,match_id,team_1,team_2,best_of,map,score_t1,ct_side_t1,t_side_t1,...,ct_side_t2,t_side_t2,team_start_ct,team_1_rating,team_2_rating,team_1_first_kill,team_2_first_kill,team_1_clutches,team_2_clutches,winner
0,0,2022-09-30 19:15,2358331,G2,Natus Vincere,bo3,Dust2,13,9,4,...,10,6,1,0.94,1.17,13,16,0,3,2
1,1,2022-09-30 15:30,2358332,Vitality,Outsiders,bo3,Mirage,16,10,6,...,8,5,1,1.03,0.98,16,13,2,0,1
2,2,2022-09-29 19:00,2358329,Cloud9,FaZe,bo3,Inferno,13,6,7,...,8,8,2,0.97,1.13,13,15,2,1,2
9,3,2022-09-29 15:45,2358330,MOUZ,Liquid,bo3,Inferno,10,4,6,...,5,11,1,0.93,1.14,13,13,1,2,2
10,4,2022-09-28 19:50,2358327,Heroic,Natus Vincere,bo3,Mirage,14,9,5,...,10,6,1,1.02,1.09,22,8,1,4,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
509,78,2021-01-21 18:05,2346061,Astralis,G2,bo3,Inferno,16,11,5,...,10,4,2,1.13,0.96,17,13,1,3,1
510,79,2021-01-21 13:30,2346060,Complexity,Natus Vincere,bo3,Inferno,11,3,8,...,7,9,2,0.99,1.09,14,13,1,3,2
511,80,2021-01-20 18:45,2346059,Evil Geniuses,FURIA,bo3,Nuke,16,11,5,...,2,4,1,1.24,0.87,11,11,2,1,1
512,81,2021-01-19 20:25,2346056,G2,FURIA,bo3,Nuke,16,8,8,...,3,7,1,1.21,0.86,14,12,0,2,1
513,82,2021-01-19 16:30,2346055,Astralis,Evil Geniuses,bo3,Vertigo,16,11,5,...,2,4,1,1.32,0.75,17,4,1,1,1

In [79]:
set_of_teams = set(list(df['team_1']) + list(df['team_2']))
team_to_num = dict(zip(set_of_teams, range(len(set_of_teams))))

#df['team_1'] = df['team_1'].replace(team_to_num)
df['team_1'] = df['team_1'].apply(lambda x : team_to_num[f'{x}'] if x in team_to_num else '')
df['team_2'] = df['team_2'].apply(lambda x : team_to_num[f'{x}'] if x in team_to_num else '')

In [124]:
df.drop(columns=['score_t1','ct_side_t1','t_side_t1','score_t2','ct_side_t2','t_side_t2','team_1_rating','team_2_rating'], inplace=True)
#df.drop(columns = ['Unnamed: 0','nummap'], inplace=True)
df

,Unnamed: 0,date,match_id,team_1,team_2,best_of,map,team_start_ct,team_1_first_kill,team_2_first_kill,team_1_clutches,team_2_clutches,winner
0,0,2022-09-30 19:15,2358331,G2,Natus Vincere,bo3,Dust2,1,13,16,0,3,2
1,1,2022-09-30 15:30,2358332,Vitality,Outsiders,bo3,Mirage,1,16,13,2,0,1
2,2,2022-09-29 19:00,2358329,Cloud9,FaZe,bo3,Inferno,2,13,15,2,1,2
9,3,2022-09-29 15:45,2358330,MOUZ,Liquid,bo3,Inferno,1,13,13,1,2,2
10,4,2022-09-28 19:50,2358327,Heroic,Natus Vincere,bo3,Mirage,1,22,8,1,4,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...
509,78,2021-01-21 18:05,2346061,Astralis,G2,bo3,Inferno,2,17,13,1,3,1
510,79,2021-01-21 13:30,2346060,Complexity,Natus Vincere,bo3,Inferno,2,14,13,1,3,2
511,80,2021-01-20 18:45,2346059,Evil Geniuses,FURIA,bo3,Nuke,1,11,11,2,1,1
512,81,2021-01-19 20:25,2346056,G2,FURIA,bo3,Nuke,1,14,12,0,2,1
513,82,2021-01-19 16:30,2346055,Astralis,Evil Geniuses,bo3,Vertigo,1,17,4,1,1,1

In [125]:
from pycaret.internal.tabular import LabelEncoder


classification = setup(data = df, target = 'winner', session_id=42)

In [151]:
bestmodel  = compare_models()

In [152]:
evaluate_model(bestmodel)

interactive(children=(ToggleButtons(description='Plot Type:', icons=('',), options=(('Hyperparameters', 'paramâ€¦

# Data set with economy information

In [128]:
df = pd.read_csv('dataframe_csgo.csv')

In [129]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1951 entries, 0 to 1950
Data columns (total 28 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Unnamed: 0         1951 non-null   int64
 1   date               1951 non-null   object
 2   match_id           1951 non-null   int64
 3   team_1             1951 non-null   object
 4   team_2             1951 non-null   object
 5   best_of            1951 non-null   object
 6   map                1951 non-null   object
 7   score_t1           1951 non-null   int64
 8   ct_side_t1         1951 non-null   int64
 9   t_side_t1          1951 non-null   int64
 10  score_t2           1951 non-null   int64
 11  ct_side_t2         1951 non-null   int64
 12  t_side_t2          1951 non-null   int64
 13  team_start_ct      1951 non-null   int64
 14  team_1_rating      1951 non-null   float64
 15  team_2_rating      1951 non-null   float64
 16  team_1_first_kill  1951 non-null   int64
 17  team_2_first_kill  1951 non-null   int64
 18  team_1_clutches    1951 non-null   int64
 19  team_2_clutches    1951 non-null   int64
 20  eco_t1             1951 non-null   int64
 21  eco_t2             1951 non-null   int64
 22  semi_eco_t1        1951 non-null   int64
 23  semi_eco_t2        1951 non-null   int64
 24  semi_buy_t1        1951 non-null   int64
 25  semi_buy_t2        1951 non-null   int64
 26  full_buy_t1        1951 non-null   int64
 27  full_buy_t2        1951 non-null   int64
dtypes: float64(2), int64(21), object(5)
memory usage: 426.9+ KB

In [131]:
df.shape

(1951, 28)

In [141]:
## creating winner column (target column)
df['winner'] = df.apply(lambda x :1 if x['score_t1']>x['score_t2'] else 2, axis=1)

#checking if the column created is ok.
df[['score_t1', 'score_t2','winner']]

      score_t1  score_t2  winner
0           13        16       2
1           16        13       1
2           13        16       2
3           10        16       2
4           14        16       2
...        ...       ...     ...
1946         9        16       2
1947        16         3       1
1948        16        13       1
1949         4        16       2
1950         4        16       2

[1951 rows x 3 columns]

In [149]:
df

,Unnamed: 0,date,match_id,team_1,team_2,best_of,map,score_t1,ct_side_t1,t_side_t1,...,team_2_clutches,eco_t1,eco_t2,semi_eco_t1,semi_eco_t2,semi_buy_t1,semi_buy_t2,full_buy_t1,full_buy_t2,winner
0,0,2022-09-30 19:15,2358331,G2,Natus Vincere,bo3,Dust2,13,9,4,...,3,2,1,3,3,4,2,18,21,2
1,1,2022-09-30 15:30,2358332,Vitality,Outsiders,bo3,Mirage,16,10,6,...,0,1,2,3,1,1,2,22,22,1
2,2,2022-09-29 19:00,2358329,Cloud9,FaZe,bo3,Inferno,13,6,7,...,1,1,1,3,1,2,4,21,21,2
3,3,2022-09-29 15:45,2358330,MOUZ,Liquid,bo3,Inferno,10,4,6,...,2,2,0,1,1,4,3,17,20,2
4,4,2022-09-28 19:50,2358327,Heroic,Natus Vincere,bo3,Mirage,14,9,5,...,4,3,2,0,3,5,4,20,19,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1946,330,2020-11-16 15:00,2345213,MOUZ,G2,bo3,Nuke,9,5,4,...,1,2,1,2,1,3,3,16,18,2
1947,331,2020-11-14 18:40,2345210,Astralis,MOUZ,bo3,Inferno,16,14,2,...,0,1,1,0,2,1,6,15,8,1
1948,332,2020-11-14 15:00,2345209,Heroic,Ninjas in Pyjamas,bo3,Vertigo,16,8,8,...,1,1,2,2,4,2,1,22,20,1
1949,333,2020-11-13 18:30,2345194,BIG,MOUZ,bo3,Inferno,4,0,4,...,1,3,1,2,0,4,2,9,15,2
1950,334,2020-11-12 18:30,2345192,G2,Ninjas in Pyjamas,bo3,Train,4,4,0,...,0,4,0,2,1,2,3,10,14,2

In [142]:
df.corr()

,Unnamed: 0,match_id,score_t1,ct_side_t1,t_side_t1,score_t2,ct_side_t2,t_side_t2,team_start_ct,team_1_rating,...,team_2_clutches,eco_t1,eco_t2,semi_eco_t1,semi_eco_t2,semi_buy_t1,semi_buy_t2,full_buy_t1,full_buy_t2,winner
Unnamed: 0,1.000000,-0.907278,0.014539,-0.072479,0.086845,0.016802,-0.043675,0.061215,0.021263,0.007740,...,0.023760,0.019357,-0.000091,0.051020,0.060540,0.034372,0.055152,-0.023559,-0.030403,0.000750
match_id,-0.907278,1.000000,-0.008556,0.085935,-0.090193,-0.010273,0.063320,-0.072354,-0.011723,-0.009771,...,-0.019111,-0.021846,0.005275,-0.048072,-0.068701,-0.034077,-0.062307,0.040847,0.052553,0.004565
score_t1,0.014539,-0.008556,1.000000,0.639827,0.580109,-0.296090,-0.337717,-0.281974,-0.025337,0.735209,...,-0.068384,-0.162246,0.379185,-0.268004,0.457552,-0.158234,0.267165,0.731782,0.068838,-0.716001
ct_side_t1,-0.072479,0.085935,0.639827,1.000000,-0.156100,-0.317374,-0.117085,-0.413643,-0.349903,0.556944,...,-0.103473,-0.132739,0.248122,-0.216172,0.315010,-0.158134,0.182809,0.499306,0.005372,-0.497394
t_side_t1,0.086845,-0.090193,0.580109,-0.156100,1.000000,-0.312659,-0.447162,-0.022231,0.324567,0.507753,...,-0.069880,-0.127823,0.266973,-0.214577,0.332424,-0.091425,0.202725,0.437294,-0.041627,-0.491831
score_t2,0.016802,-0.010273,-0.296090,-0.317374,-0.312659,1.000000,0.668835,0.582771,0.035149,-0.764017,...,0.339480,0.406100,-0.136423,0.461569,-0.283016,0.300887,-0.181190,0.080066,0.750698,0.694610
ct_side_t2,-0.043675,0.063320,-0.337717,-0.117085,-0.447162,0.668835,1.000000,-0.125121,0.346929,-0.618868,...,0.175530,0.275008,-0.138914,0.360389,-0.217204,0.187922,-0.176825,0.000315,0.515975,0.502794
t_side_t2,0.061215,-0.072354,-0.281974,-0.413643,-0.022231,0.582771,-0.125121,1.000000,-0.318249,-0.484520,...,0.238661,0.301644,-0.098342,0.274867,-0.210968,0.238999,-0.093354,0.002749,0.464475,0.478554
team_start_ct,0.021263,-0.011723,-0.025337,-0.349903,0.324567,0.035149,0.346929,-0.318249,1.000000,-0.056672,...,0.011777,0.010677,-0.010668,0.045700,0.021031,-0.006004,-0.011568,-0.003631,0.014750,-0.009399
team_1_rating,0.007740,-0.009771,0.735209,0.556944,0.507753,-0.764017,-0.618868,-0.484520,-0.056672,1.000000,...,-0.115976,-0.411955,0.378816,-0.459338,0.464546,-0.251334,0.284044,0.385432,-0.467366,-0.763070
team_2_rating,0.011637,-0.012546,-0.755459,-0.588488,-0.502463,0.741973,0.583124,0.493401,0.052061,-0.974560,...,0.179931,0.409077,-0.382724,0.454450,-0.460251,0.273219,-0.262568,-0.440671,0.411184,0.763089
team_1_first_kill,0.022725,-0.018896,0.732026,0.467655,0.359592,0.043138,-0.104710,-0.047249,-0.050479,0.475776,...,0.110288,-0.059860,0.324651,-0.109072,0.306686,-0.050384,0.170160,0.651974,0.253465,-0.381693
team_2_first_kill,0.012085,-0.001346,0.035152,-0.115861,-0.074612,0.744995,0.480006,0.385430,0.058539,-0.517998,...,0.193485,0.332095,-0.059767,0.328296,-0.119745,0.213556,-0.080482,0.239894,0.658378,0.369380
team_1_clutches,0.055874,-0.052970,0.351804,0.161341,0.239358,-0.050222,-0.115961,-0.044265,-0.010977,0.189093,...,-0.027749,0.034753,0.088727,-0.045817,0.110485,0.034940,0.122341,0.185770,0.062937,-0.226493
team_2_clutches,0.023760,-0.019111,-0.068384,-0.103473,-0.069880,0.339480,0.175530,0.238661,0.011777,-0.115976,...,1.000000,0.106083,0.045778,0.104799,-0.032180,0.133927,0.046363,0.062465,0.172223,0.241168
eco_t1,0.019357,-0.021846,-0.162246,-0.132739,-0.127823,0.406100,0.275008,0.301644,0.010677,-0.411955,...,0.106083,1.000000,-0.103125,-0.069297,-0.154130,-0.000915,-0.055272,-0.012367,0.375219,0.273869
eco_t2,-0.000091,0.005275,0.379185,0.248122,0.266973,-0.136423,-0.138914,-0.098342,-0.010668,0.378816,...,0.045778,-0.103125,1.000000,-0.147875,-0.054073,-0.016506,-0.074784,0.327545,-0.017452,-0.263948
semi_eco_t1,0.051020,-0.048072,-0.268004,-0.216172,-0.214577,0.461569,0.360389,0.274867,0.045700,-0.459338,...,0.104799,-0.069297,-0.147875,1.000000,-0.185869,-0.117990,-0.064776,-0.125736,0.317703,0.369858
semi_eco_t2,0.060540,-0.068701,0.457552,0.315010,0.332424,-0.283016,-0.217204,-0.210968,0.021031,0.464546,...,-0.032180,-0.154130,-0.054073,-0.185869,1.000000,-0.055875,-0.086220,0.327360,-0.140704,-0.382520
semi_buy_t1,0.034372,-0.034077,-0.158234,-0.158134,-0.091425,0.300887,0.187922,0.238999,-0.006004,-0.251334,...,0.133927,-0.000915,-0.016506,-0.117990,-0.055875,1.000000,-0.080044,-0.310566,0.207452,0.254035
semi_buy_t2,0.055152,-0.062307,0.267165,0.182809,0.202725,-0.181190,-0.176825,-0.093354,-0.011568,0.284044,...,0.046363,-0.055272,-0.074784,-0.064776,-0.086220,-0.080044,1.000000,0.173056,-0.343239,-0.241520
full_buy_t1,-0.023559,0.040847,0.731782,0.499306,0.437294,0.080066,0.000315,0.002749,-0.003631,0.385432,...,0.062465,-0.012367,0.327545,-0.125736,0.327360,-0.310566,0.173056,1.000000,0.460635,-0.352811
full_buy_t2,-0.030403,0.052553,0.068838,0.005372,-0.041627,0.750698,0.515975,0.464475,0.014750,-0.467366,...,0.172223,0.375219,-0.017452,0.317703,-0.140704,0.207452,-0.343239,0.460635,1.000000,0.340426
winner,0.000750,0.004565,-0.716001,-0.497394,-0.491831,0.694610,0.502794,0.478554,-0.009399,-0.763070,...,0.241168,0.273869,-0.263948,0.369858,-0.382520,0.254035,-0.241520,-0.352811,0.340426,1.000000

In [150]:
classification = setup(data = df, target = 'winner', ignore_features=(['Unnamed: 0','match_id','score_t1','ct_side_t1','t_side_t1','score_t2','ct_side_t2','t_side_t2','team_1_rating','team_2_rating','date']) ,session_id=42)

In [147]:
bestmodel = compare_models()

In [148]:
evaluate_model(bestmodel)

interactive(children=(ToggleButtons(description='Plot Type:', icons=('',), options=(('Hyperparameters', 'paramâ€¦